*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: fit-content;
    margin: auto auto;
}

input{
    width:500px;
    margin: 10px auto;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #aaa;
}

.result-container{
    background-color: #d1ecf1;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
}

.ex2-result-container{
    background-color: rgb(235, 213, 213);
}

section{
    width: 500px;
    margin: 50px auto;
    box-shadow: 2px 5px 2px 5px #eee;
    border: 1px solid #ddd;
}

.button-container{
    width: fit-content;
    margin: 5px auto;
}

.ex4-result-container{
    border: 10px solid rgb(87, 87, 87);
    padding: 0;
}

